<div class="card">
    <div class="card-body">
        <h5 class="titulo">LISTAR TARJETAS</h5>
        <table class="table table-striped table-hover">
            <tbody>
                <tr *ngFor="let tarjeta of listTarjeta">
                    <td>{{tarjeta.titular}}</td>
                    <td>{{tarjeta.numeroTarjeta}}</td>
                    <td>{{tarjeta.fechaExpiracion}}</td>
                    <td>
                        <i (click)="editarTarjeta(tarjeta)" class="fas fa-edit text-info"></i>
                        <i (click)="eliminarTarjeta(tarjeta.id)" class="fas fa-trash text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>